*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	scroll-behavior: smooth;
}
input{
	height: 125px;
	border-radius: 50%;
}
img{
	height: 130px;
}
header{
	background-color: #8b0000;
}
a{
	color: black;
}
a:visted{
	color: black;
}
a:hover{
	text-decoration: underline;
	color: black;
}

footer{	background-color: #f2f2f2; }
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: powderblue;
  margin: auto;
  color: #b30000;
  font-size: 20px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.board{  
	background:
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color: #008000;
	background-size:20px 20px;

}
.col1{
	float: left;
	width: 10%;
}
.col2{
	float: left;
	width: 42%;
	text-align: center;
	top: 0;
}
.col3{
	float: left;
	width: 42%;
	text-align: center;
}
.btn{
	border: none;
	background-color: #008000;
	cursor: pointer;
	padding: 10px;
	font-size: 20px;
	color: white;
	display: none;
}
.btn:hover{
	font-size: 25px;
	color: #4dff4d;
	transition: font-size 1s;
	transition-timing-function: ease;
	background-color: #008000;
	border-radius: 40%;
}
.header-background{ background-color: #8b0000; }
.header-background:hover{ background-color: #8b0000; }
.outer-container:after{
	content: "";
	display: table;
	clear: both;
}
.shadow{ box-shadow: 0 10px 50px 0 rgba(0,0,0,0.2); }
.border-none{ border: none; }
.inline{ display: inline; }
.inline-block{	display: inline-block; }
.background-color-white{
	background-color: white;
}

.color-white{ color: white; }
.color-yellow{ color: #ffff00; }
.color-powderblue{ color: powderblue; }
.color-cyan{ color: #66ffcc; }
.color-red{ color: #00ffff; }
.text-center{
	text-align: center; 
}
.float-center{ margin-left: 20%; }
.float-right{ float: right; }
.font-bold{ font-weight: bold; }
.font-roboto{
	font-family: 'Roboto Mono', monospace;
}
.font-style{
	font-size: 50px;
	font-family: arial, sans-serif;
}
.font-large{ font-size: 40px; }
.font-large-1{ font-size: 30px; }
.font-large-2{ font-size: 20px; }
.clearfix{
	content: "";
	clear: both;
}
.p-1{ padding: 10px; }
.p-2{ padding: 20px; }

.m-1{ margin: 10px; }
.m-2{ margin: 20px; }
.m-left-1{ margin-left: 5px; }
.font-height{ height: 100px; }
.height-1{ height: 60px; }